@model TodoApp.Models.Todo

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*Created Todo Form*@
<form action="home/addTodo" method="post">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <label>
                <b>
                    Title
                </b>
            </label>
            <input type="text" asp-for="Title" />
        </div>
        
        <label>
            <b>
                Completed
            </b>
        </label>
        <input type="checkbox" asp-for="IsCompleted">
    </div>


    <button type="submit">Add Todo</button>
</form>

@{
    // Here we pull the data we sent from the homecontroller
    List<Todo> todos = ViewBag.Todos;

    <h3>In completed List</h3>
    <br />
    // Freeze the drawn list using foreach
    foreach (Todo item in todos)
    {
        <div>
            <div>Title :@item.Title</div>
            <div>Completed :@item.IsCompleted</div>
            <br />
        </div>

    }
}

